
@{
    ViewBag.Title = "Index";
}<!doctype html>
<html>
<head>
    <meta charset=" UTF-8">
   
    <style>
        p {
            font-size: x-large;
            text-align: center;
            font-family:Century
            color: #000000;
            font-family: cursive;
            padding: 0.2em;
        }
    </style>
</head>
<body>

   
    <p>
        Bienvenidos a Entre Hojas    
    </p>

</body>
</html>



<!doctype html>
<html>
<head>
    <meta charset=" UTF-8">
    
    <style>
        p {
            font-size: x-large;
            text-align: center;
            font-family:'Century Schoolbook'
            color:#000000;
            padding: 0.2em;
      
           
        }
    </style>
</head>
<body>
   
   
    <p> 
        «Hay quienes no pueden imaginar un mundo sin pájaros;
        hay quienes no pueden imaginar un mundo sin agua; en lo que a mí se refiere,
        soy incapaz de imaginar un mundo sin libros»</p>
        <p>Jorge Luis Borges</p>

     
    </p>
</body>
</html>
